<!doctype html>
<html>
  <head></head>
  <body>
    <div id="debug"></div>
    <div class="container">
      {{> panel 'Open Flame'}}
      {{> panel 'An LGBTQ+ Comedy Night'}}
      {{> panel 'Every other Monday at Moodring'}}
      {{> panel 'Hot!'}}
    </div>
  </body>
</html>